### Easy 1

**Question:**  
Create a list of 5 integers and print it.

**Approach:**  
Create a list using square brackets and use print().

In [ ]:
# Write your code here
nums=[1,2,3,4,5]
print(nums)

[1, 2, 3, 4, 5]

### Easy 2

**Question:**  
Find the length of a given list.

**Approach:**  
Use the built-in len() function.

In [ ]:
# Write your code here
len(nums)
print(len(nums))

5

### Easy 3

**Question:**  
Access and print the last element of a list.

**Approach:**  
Use negative indexing.

In [ ]:
# Write your code here
new=[1,2,3,4,5,6]
print(new[-1])

6

### Easy 4

**Question:**  
Add an element to the end of a list.

**Approach:**  
Use the append() method.

In [ ]:
# Write your code here
nums=[1,2,3,4,5]
nums.append(6)
print(nums)

[1, 2, 3, 4, 5, 6]

### Easy 5

**Question:**  
Remove the first element from a list.

**Approach:**  
Use pop(0) or slicing.

In [ ]:
# Write your code here
nums=[1,2,3,4,5]
nums.pop(0)
print(nums)
nums1=[1,2,3,4,5]
print(nums1[1:])

[2, 3, 4, 5]
[2, 3, 4, 5]

### Medium 1

**Question:**  
Print all elements of a list using a loop.

**Approach:**  
Iterate using a for loop.

In [ ]:
# Write your code here
list1=["rohit",24,4.2,True]
for i in list1:
  print(i)

rohit
24
4.2
True

### Medium 2

**Question:**  
Find the sum of all elements in a list.

**Approach:**  
Initialize sum = 0 and add elements in loop.

In [ ]:
# Write your code here
elements=[1,2,3,4,5]
sum=0
for i in elements:
  sum=sum+i
print(sum)

15

### Medium 3

**Question:**  
Count how many even numbers are in a list.

**Approach:**  
Check element % 2 == 0 inside loop.

In [ ]:
# Write your code here
even=[i for i in range(1,11) if i%2==0]
print(even)

[2, 4, 6, 8, 10]

### Medium 4

**Question:**  
Find the maximum element without using max().

**Approach:**  
Assume first element as max and compare.

In [ ]:
# Write your code here
nums=[1,2,3,4,5]
max=nums[0]
for i in nums:
  if i>max:
    max=i
    print(i)

2
3
4
5

### Medium 5

**Question:**  
Reverse a list without using reverse().

**Approach:**  
Traverse list from end or use slicing.

In [ ]:
# Write your code here
nums=[1,2,3,4,5]
print(nums[::-1])

[5, 4, 3, 2, 1]

### Medium 6

**Question:**  
Create a new list with squares of each element.

**Approach:**  
Loop and append square of each element.

In [ ]:
# Write your code here
nums=[1,2,3,4,5]
squares=[]
for i in nums:
  squares.append(i**2)

print(squares)

[1, 4, 9, 16, 25]

### Medium 7

**Question:**  
Remove all occurrences of a given value.

**Approach:**  
Loop and remove or use list comprehension.

In [ ]:
# Write your code here

nums=[1,2,3,4,5,]
text=2
result=[i for i in nums if i!=2]

print(result)

[1, 3, 4, 5]

### Medium 8

**Question:**  
Find the index of a given element manually.

**Approach:**  
Traverse list and compare elements.

In [ ]:
# Write your code here
nums=[1,2,3,4,5]
target=2

index=-1
for i in range(len(nums)):
  if nums[i]==target:
    index=i
    break

if index!=-1:
  print("Eliment ka index hai : ",index)
else:
  print("Eliment list me nhi  :",)

Eliment ka index hai :  1

### Medium 9

**Question:**  
Merge two lists into one.

**Approach:**  
Use + operator or extend().

In [ ]:
# Write your code here
a=[1,2,3,4,5]
b=[6,7,8,9,10]
c=a+b
print(c)

c.extend(b)
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 6, 7, 8, 9, 10]

### Medium 10

**Question:**  
Check if a list is empty.

**Approach:**  
Use len(list) == 0 or direct comparison.

In [ ]:
# Write your code here
list1=[]
if (len(list1))==0:

  print("list is empty")
else:
  print("list is not empty")

list is empty

### Hard 1

**Question:**  
Remove duplicate elements from a list.

**Approach:**  
Use loop and a new list or set.

In [ ]:
# Write your code here
nums=[10,20,20,10,30,40,40]

for i in nums:
  if i==20:
    nums.remove(i)
    print(nums)

    set1=list(set(nums))
    print(set1)

[10, 20, 10, 30, 40, 40]
[40, 10, 20, 30]

### Hard 2

**Question:**  
Find the second largest element.

**Approach:**  
Track largest and second largest values.

In [ ]:
# Write your code here
list1=[10,5,20,8,15]
largest= float('-inf')

second_largest=float('-inf')

for i in list1:
  if i>largest:
    second_largest=largest
    largest=i



  elif i>second_largest and i!=largest:
      second_largest=i

print("largest eliment:",largest)
print("second largest eliment:",second_largest)

largest eliment: 20
second largest eliment: 15

### Hard 3

**Question:**  
Rotate a list to the right by k steps.

**Approach:**  
Use slicing and modulo operation.

In [ ]:
from typing import Text
# Write your code here
nums=[1,2,3,4,5]
k=2
text=len(nums)
k=k%text
nums=nums[-k:]+nums[:-k]
print(nums)

[4, 5, 1, 2, 3]

### Hard 4

**Question:**  
Check if a list is a palindrome.

**Approach:**  
Compare list with its reverse.

In [ ]:
# Write your code here
nums=[1,2,3,2,1]
if nums==nums[::-1]:
  print("list is palindrome",nums)

list is palindrome [1, 2, 3, 2, 1]

### Hard 5

**Question:**  
Split a list into even and odd lists.

**Approach:**  
Check each element and append accordingly.

In [ ]:
# Write your code here
nums=[1,2,3,4,5]
even=[]
odd=[]
for i in nums:
  if i%2==0:
    even.append(i)
    print("even number:",even)

  else:
    odd.append(i)
    print("odd number:",odd)

odd number: [1]
even number: [2]
odd number: [1, 3]
even number: [2, 4]
odd number: [1, 3, 5]

### Hard 6

**Question:**  
Find common elements between two lists.

**Approach:**  
Use loop or set intersection.

In [53]:
# Write your code here
a=[1,2,3,4,5]
b=[3,4,5,6,7]
common=[]

for i in a:

  if i in b:
    common.append(i)
    print(a)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

### Hard 10

**Question:**  
Count how many times the list values increase compared to the previous value.

**Approach:**  
Compare current and previous values.

In [58]:
# Write your code here
nums=[1,2,5,6,3]
count=0
for i in range(1,len(nums)):
  if nums[i]>nums[i-1]:
    count=count+1
    print(count)

1
2
3

### Additional Easy 1

**Question:**  
Create an empty list and print it.

**Approach:**  
Use empty square brackets [].

In [59]:
# Write your code here
list1=[]
print(list1)

[]

### Additional Easy 2

**Question:**  
Create a list of three numbers and print the first element.

**Approach:**  
Use index 0.

In [61]:
# Write your code here
list1=[10,20,30]
print(list1[0])

10

### Additional Easy 3

**Question:**  
Check whether a value exists in a list.

**Approach:**  
Use the in operator.

In [67]:
# Write your code here
list1=[10,20,30,40]

value=200

if value in list1:

     print("value list me hai")
else:
     print("value list me nhi hai")

value list me nhi hai

### Additional Easy 4

**Question:**  
Replace the second element of a list with a new value.

**Approach:**  
Use index assignment.

In [85]:
# Write your code here

# Replace with index
list1=[10,20,30,40]

index=list1.index(30)
list1[index]=50

print(list1)
#Replace with for loop
for i in range(len(list1)):
  if list1[i]==20:
    list1[i]=50
    print(list1)
# Replace comprhension
    result=[20 if i ==50 else i for i in list1]
    print(result)

    #Replace with silicing
list1=[10,20,30,4]

list1[1:2]=[50]
print(list1)

[10, 20, 50, 40]
[10, 50, 50, 40]
[10, 20, 20, 40]
[10, 50, 30, 4]

### Additional Easy 5

**Question:**  
Print each element of a list on a new line.

**Approach:**  
Use a for loop.

In [88]:
# Write your code here
nums=[1,2,3,4,5]

for i in nums:
  print(i)

1
2
3
4
5

### Additional Medium 1

**Question:**  
Count how many elements are greater than 10 in a list.

**Approach:**  
Loop and compare each element.

In [92]:
# Write your code here
#compare each element
list1=[10,20,30,40]
for i in list1:
  if i>10:
    print(i)

20
30
40

### Additional Medium 2

**Question:**  
Create a new list containing only positive numbers.

**Approach:**  
Check > 0 and append.

In [99]:
# Write your code here
nums=[1,-2,3,-4,5]
count=0
for i in nums:
  if i>0:
    count=count+1
    print("positive no hai:",i)

print("total number positive:",count)

positive no hai: 1
positive no hai: 3
positive no hai: 5
total number positive: 3

### Additional Medium 3

**Question:**  
Find the smallest element without using min().

**Approach:**  
Assume first element as smallest.

In [102]:
# Write your code here
nums=[10,20,30,40]
smallest_element=nums[0]

for i in nums:
  if i<smallest_element:
    smallest_element=i
print(smallest_element)

10

### Additional Medium 4

**Question:**  
Create a list in reverse order using a loop.

**Approach:**  
Loop from last index to first.

In [128]:
# Write your code here
nums=[1,2,3,4,5]
rev=[]
for i in range(len(nums)-1,-1,-1):
  rev.append(nums[i])
print(rev)

[5, 4, 3, 2, 1]

### Additional Medium 5

**Question:**  
Count how many times a given element appears in a list.

**Approach:**  
Use a counter variable.

In [134]:
# write code here

nums = [1, 2, 3, 2, 4, 2, 5]
target = 2

count = 0

for i in nums:
    if i == target:
        count += 1

print("Element", target, "appears", count, "times")

Element 2 appears 3 times