# Python Lists Practice Notebook

Write your answers in the code cells below each question.

### Q1. Create an empty list named data and a list numbers with values 5,10,15,20.

In [ ]:
# Write your answer here
data=[]
numbers=[5,10,15,20]
print(data)
print(numbers)

[]
[5, 10, 15, 20]

### Q2. Create a list with int, float, string, boolean.

In [ ]:
# Write your answer here
list1=["irfan",24,4.2,True]
print(list1)

['irfan', 24, 4.2, True]

### Q3. From nums=[10,20,30,40,50], print first and third element.

In [ ]:
# Write your answer here
nums=[10,20,30,40,50]
print(nums[1])
print(nums[3])

20
40

### Q4. Change 30 to 300 using indexing.

In [ ]:
# Write your answer here
nums=[10,20,30,40]
nums[2]=300
print(nums)

[10, 20, 300, 40]

### Q5. Using negative indexing print last and second last element.

In [ ]:
# Write your answer here
nums=[10,20,30,40]
print(nums[-1])
print(nums[-2])

40
30

### Q6. Update last element to 999 using negative index.

In [ ]:
# Write your answer here
nums1=[10,20,30,40,50]
nums1[-1]=999
print(nums1)

[10, 20, 30, 40, 999]

### Q7. Slice elements from index 2 to 6.

In [ ]:
# Write your answer here
index=[1,2,3,4,5,6,]
print(index[2:6])

[3, 4, 5, 6]

### Q8. Print even index elements and reverse list.

In [ ]:
# Write your answer here
nums=[10,20,30,40,50,60]
print(nums[::-1])

[60, 50, 40, 30, 20, 10]

### Q9. Append 10,20,30 one by one to empty list.

In [ ]:
# Write your answer here
list1=[]
list1.append(10)
list1.append(20)
list1.append(30)

print(list1)

[10, 20, 30]

### Q10. Append a user entered number to a list.

In [ ]:
# Write your answer here
list1=[10,20,30,40]
user=int(input("Enter a number"))
list1.append(user)
print(list1)

Enter a number50
[10, 20, 30, 40, 50]

### Q11. Extend [1,2,3] with [4,5,6].

In [ ]:
# Write your answer here
a=[1,2,3,]
b=[4,5,6]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6]

### Q12. Extend a list using another list.

In [ ]:
# Write your answer here
a=[1,2,3,]
b=[4,5,6]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6]

### Q13. Insert 100 at index 2 in [10,20,30,40].

In [ ]:
# Write your answer here
nums=[10,20,30,40]
text=nums.insert(2,100)
print(nums)

[10, 20, 100, 30, 40]

### Q14. Insert 'Python' at beginning of list.

In [ ]:
# Write your answer here
nums=[10,20,30,40]
text=nums.insert(0,"python")
print(nums)

['python', 10, 20, 30, 40]

### Q15. Remove value 20 from [10,20,30,20].

In [ ]:
# Write your answer here
nums=[10,20,30,20]
text=nums.remove(20)
print(nums)

[10, 30, 20]

### Q16. Try removing a value that does not exist.

In [ ]:
# Write your answer here
nums=[10,20,30]
if 5 in nums:
    nums.remove(40)
else:
    print("value not found")

value not found

### Q17. Pop last element from [1,2,3,4].

In [ ]:
# Write your answer here
nums=[1,2,3,4]
last_eliment=nums.pop()
print("last eliment: ",last_eliment)
print("updated list :",nums)

last eliment:  4
updated list : [1, 2, 3]

### Q18. Pop element at index 1 and store it.

In [ ]:
# Write your answer here
nums=[1,2,3,4]
index=nums.pop(1)
print(index)

2

 Q19. Clear a list and print it.

In [ ]:
# Write your answer here
nums=[10,20,30,40]
nums.clear()
print(nums)

[]

### Q20. Check length before and after clear().

In [ ]:
# Write your answer here
nums=[10,20,30,40]
print(len(nums))

4

### Q21. Find length of [10,20,30,40,50].

In [ ]:
# Write your answer here
nums=[10,20,30,40,50]
print(len(nums))

5

### Q22. Check if list is empty using len().

In [ ]:
# Write your answer here
nums=[]
if len(nums)==0:
    print("list is empty")
else:
    print("list is not empty")

list is empty

### Q23. Concatenate two lists.

In [2]:
# Write your answer here
a=[1,2,3,]
b=[4,5,6]
print(a+b)

[1, 2, 3, 4, 5, 6]

### Q24. Repeat [1,2] three times and check membership of 2.

In [6]:
# Write your answer here
a=[1,2]
print(a*3)
3 in a

[1, 2, 1, 2, 1, 2]

False

### Q25. Squares from 1 to 10 using list comprehension.

In [11]:
# Write your answer here
squares=[i**2 for i in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Q26. Numbers from 0 to 20 using list comprehension.

In [14]:
# Write your answer here
nums=[i for i in range(0,21)]
print(nums)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

### Q27. Cubes of 1–5 using loop.

In [18]:
# Write your answer here
cube=[]
for i in range (1,6):
  cube.append(i**3)
print(cube)

[1, 8, 27, 64, 125]

### Q28. Cubes of 1–5 using list comprehension.

In [19]:
# Write your answer here
cube=[i**3 for i in range(1,6)]
print(cube)

[1, 8, 27, 64, 125]

### Q29. Even numbers between 1 and 50.

In [21]:
# Write your answer here
even_numbers=[i for i in range(1,50) if i%2==0]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

### Q30. Filter marks greater than 60.

In [22]:
# Write your answer here
nums=[10,20,40,60,80,90,100]

filter1=[i for i in nums if i>60]
print(filter1)

[80, 90, 100]

### Q31. Label numbers Even/Odd.

In [26]:
# Write your answer here
lebel=["even" if i%2==0 else "odd" for i in range(10)]
print(lebel)

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

### Q32. Label salaries High/Low.

In [29]:
# Write your answer here
salaries=[1000,2000,3000,4000]
label=["high" if i>2000 else "low" for i in salaries]
print(label)

['low', 'low', 'high', 'high']

### Q33. Flatten [[1,2,3],[4,5,6],[7,8,9]].

In [31]:
# Write your answer here
nums=[[1,2,3],[4,5,6,],[7,8,9]]
flatten=[i for sublist in nums for i in sublist]

print(flatten)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### Q34. Create (x,y) pairs from 1 to 3.

In [35]:
# Write your answer here
pairs=[(x,y) for x in range(1,4)  for y in range(1,4)]
print(pairs)

[(1, 1), (1, 2), (1, 3), (2, 1), (2, 2), (2, 3), (3, 1), (3, 2), (3, 3)]

### Q35. Split 'Python is very powerful'.

In [36]:
# Write your answer here
words="python is very powerful"
text=words.split()

print(text)

['python', 'is', 'very', 'powerful']

### Q36. Split '10,20,30,40' into numbers.

In [37]:
# Write your answer here
nums="10,20,30,40"

text=nums.split(" ")
print(text)

['10,20,30,40']

### Q37. Join ['Data','Analyst','Python'] with space.

In [38]:
# Write your answer here
words=['data','Analyst','python']
text="-".join(words)
print(text)

data-Analyst-python

### Q38. Join characters using '_' separator.

In [41]:
# Write your answer here
words=['data-analyst-python']
text="-".join(words)
print(text)

data-analyst-python

### Q39. Filter eligible voters (age>=18).

In [60]:
# Write your answer here
voter=[10,20,50,18,26,1,26,]
result=[i for i in voter if i>=18]
print(result)

[20, 50, 18, 26, 26]

### Q40. Extract positive numbers.

In [63]:
# Write your answer here
nums=[10,-20,2,0,-6,-1,5]
result=[i for i in nums if i>0]
print(result)

[10, 2, 5]

### Q41. Convert names to uppercase.

In [68]:
# Write your answer here
names=["rahul","sumit","sorav"]
result=[i.upper() for i in names]
print(result)

['RAHUL', 'SUMIT', 'SORAV']

### Q42. Add 18% GST to prices.

In [71]:
# Write your answer here
prices=[100,200,300]

gst=[i*1.18 for i in prices]

print(gst)

[118.0, 236.0, 354.0]

### Q43. Convert list to tuple and set.

In [76]:
# Write your answer here
nums=[1,2,3,4,2,3]

nums_tuple=tuple(nums)
print("tuple is here:",nums_tuple)

nums_set=set(nums)
print("set is here:",nums_set)

tuple is here: (1, 2, 3, 4, 2, 3)
set is here: {1, 2, 3, 4}

### Q44. Remove duplicates by converting list to set.

In [79]:
# Write your answer here
nums=[1,2,3,2,5,3,1,]

remove_duplicate=set(nums)
print(remove_duplicate)

{1, 2, 3, 5}