## Question 1 (Easy)

**Title:** Print 1 to 10

### Problem Statement:
Print numbers from 1 to 10 using a for loop.

### Approach:
Use `range(1, 11)` inside a `for` loop and print each value.

In [ ]:
# write your code here
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

## Question 2 (Easy)

**Title:** Sum of First N Numbers

### Problem Statement:
Take an integer N as input and find the sum of numbers from 1 to N.

### Approach:
Initialize sum = 0, loop from 1 to N, add each value to sum.

In [ ]:
# write your code here
n=int(input("Enter: "))
initialize_sum=0
for i in range(1,n+1):
  initialize_sum+=i

print("sum of integer:",initialize_sum)

Enter: 12
sum of integer: 78

## Question 3 (Easy)

**Title:** Even Numbers from 1 to 50

### Problem Statement:
Print all even numbers between 1 and 50.

### Approach:
Loop from 1 to 50 and check `i % 2 == 0`.

In [ ]:
# write your code here
for i in range(1,51):
  if i%2==0:
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

## Question 4 (Easy)

**Title:** Count Multiples of 3

### Problem Statement:
Take N as input and count how many numbers between 1 and N are divisible by 3.

### Approach:
Use a counter variable and increment when `i % 3 == 0`.

In [ ]:
# write your code here
n=int(input("Enter any number"))
count=0
for i in range(1,n+1):
  if i%3==0:
    count=count+1

print(count)

Enter any number15
5

## Question 5 (Easy)

**Title:** Multiplication Table

### Problem Statement:
Take a number as input and print its multiplication table from 1 to 10.

### Approach:
Loop from 1 to 10 and multiply with the input number.

In [1]:
# write your code here
n=int(input("Enter any table number: "))

for i in range(1,11):
  print(n,"X",i,"=",n*i)

Enter any table number: 10
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

## Question 6 (Easy)

**Title:** Factorial of a Number

### Problem Statement:
Take a number N as input and find its factorial.

### Approach:
Initialize fact = 1 and multiply values from 1 to N.

In [ ]:
#write code here
n=int(input("Enter any number"))
initialize_fact=1
for i in range(1,n+1):
  initialize_fact=initialize_fact*i


print("factorial of a number:",initialize_fact)

Enter any number14
factorial of a number: 87178291200

## Question 7 (Easy)

**Title:** Running Sum

### Problem Statement:
Take N as input and print the running sum from 1 to N.

### Approach:
Use a sum variable and update it in each iteration.

In [ ]:
# write code here
n=int(input("Enter any number:"))
sum=0

for i in range(1,n+1):
  sum=sum+i

  print(sum)

Enter any number:3
1
3
6

## Question 8 (Easy)

**Title:** Add 5 to Each Number

### Problem Statement:
Take N as input and add 5 to each number from 1 to N and print the result.

### Approach:
Loop from 1 to N and use shorthand `value += 5`.

In [ ]:
# write your code here
n=int(input("Enter any number:"))
value=5
for i in range(1,n+1):
  value=value+5
  print(value)

Enter any number:8
10
15
20
25
30
35
40
45

## Question 9 (Easy)

**Title:** Count Even and Odd Numbers

### Problem Statement:
Take N as input and count how many even and odd numbers are there between 1 and N.

### Approach:
Use two counters and check with modulo operator.

In [ ]:
# write your code here
n=int(input("Enter any number"))
counter1=0
counter2=0

for i in range(1,n+1):
  if i%2==0:
    counter1=counter1+i

else:
    counter2=counter2+i
    print("even number:",counter1)
    print("odd number:",counter2)

Enter any number5
even number: 6
odd number: 5

## Question 10 (Easy)

**Title:** Squares from 1 to N

### Problem Statement:
Take N as input and print the square of each number from 1 to N.

### Approach:
Use `i * i` inside the loop.

In [ ]:
# write your code here
n=int(input("Enter any number"))
for i in range(1,n+1):
    print(i*i)

Enter any number8
1
4
9
16
25
36
49
64

In [ ]:
print(1+2+3+4+5+6+7+8)

36

## Question 11 (Medium)

**Title:** Sum of Even and Odd Separately

### Problem Statement:
Take N as input and find the sum of all even numbers and all odd numbers between 1 and N.

### Approach:
Use two sum variables and check each number with modulo.

In [ ]:
# write your code here
n=int(input("Enter any number"))
even=0
odd=0
for i in range(1,n+1):
  if i%2==0:
    even=even+i
  else:
    odd=odd+i
print("even number is :",even)
print("odd number:",odd)

Enter any number10
even number is : 30
odd number: 25

## Question 12 (Medium)

**Title:** Divisible by 3 and 5

### Problem Statement:
Take N as input and count how many numbers between 1 and N are divisible by both 3 and 5.

### Approach:
Use logical AND condition inside the loop.

In [ ]:
# write your code here
n=int(input("Enter a number:"))
count=0
for i in range(1,n+1):
  if i%3==0 and i%5==0:
    count=count+1

print(count)

Enter a number:45
3

## Question 13 (Medium)

**Title:** Skip Multiples of 4

### Problem Statement:
Take N as input and print numbers from 1 to N but skip multiples of 4.

### Approach:
Use `continue` when the number is divisible by 4.

In [3]:
# write code here
n = int(input("Enter N: "))

for i in range(1, n + 1):
    if i % 4 == 0:
        continue
    print(i)

Enter N: 10
1
2
3
5
6
7
9
10

## Question 14 (Medium)

**Title:** Find the Largest Number

### Problem Statement:
Take N as input and find the largest number between 1 and N using a loop.

### Approach:
Assume the first value as largest and update using `if`.

In [10]:
# write your code here
n=int(input("Enter a number"))
largest=1
for i in range(2,n+1):
  if i>largest:
    largest=i


print("the largest number between 1 and",n,"is:",largest)

Enter a number10
the largest number between 1 and 10 is: 10

## Question 15 (Medium)

**Title:** Power of a Number

### Problem Statement:
Take two numbers `a` and `b` as input and calculate `a` raised to the power `b` using a for loop.

### Approach:
Initialize result = 1 and multiply it `b` times.

In [13]:
# write a code here
a=int(input("Enter a number:"))
b=int(input("Enter a number:"))

result=1
for i in range(b):
  result=result*a
print("Result:",result)

Enter a number:5
Enter a number:6
Result: 15625

## Question 16 (Hard)

**Title:** Check Prime Number

### Problem Statement:
Take a number as input and check whether it is prime or not.

### Approach:
Loop from 2 to N-1 and use `break` if divisible.

In [17]:
# write your code here
n = int(input("Enter a number: "))

if n <= 1:
    print("Not a Prime Number")
else:
    is_prime = True
    for i in range(2, n):
        if n % i == 0:
            is_prime = False
            break

    if is_prime:
        print("Prime Number")
    else:
        print("Not a Prime Number")

Enter a number: 4
Not a Prime Number

## Question 17 (Hard)

**Title:** Prime Numbers Between 1 and N

### Problem Statement:
Take N as input and print all prime numbers between 1 and N.

### Approach:
Use nested loops and a flag variable for prime checking.

In [21]:
# write your code here
n = int(input("Enter a number: "))

for num in range(2, n + 1):
    is_prime = True   # flag variable

    for i in range(2, num):
        if num % i == 0:
            is_prime = False
            break

    if is_prime:
        print(num)

Enter a number: 10
2
3
5
7

## Question 18 (Hard)

**Title:** First Number Divisible by 7 and 11

### Problem Statement:
Take N as input and find the first number between 1 and N that is divisible by both 7 and 11. Stop after finding it.

### Approach:
Use logical AND and stop the loop using `break`.

In [27]:
# write your code here
n = int(input("Enter any number "))

for i in range(1, n + 1):
    if i % 7 == 0 and i % 11 == 0:
      print("First number divisible by 7 and 11 is:", i)
      break

Enter any number 200
First number divisible by 7 and 11 is: 77

## Question 19 (Hard)

**Title:** Number Pattern

### Problem Statement:
Take N as input and print a right-angled number pattern using nested loops.

Example:
1
12
123

### Approach:
Use an outer loop for rows and an inner loop for printing numbers.

In [30]:
# write your code here
n = int(input("Enter any number "))

for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end="")
    print()

Enter any number 5
1
12
123
1234
12345