# Python Operators Practice Notebook

Each question is followed by its solution in the next code cell.
Difficulty level: Easy to Medium.

## Arithmetic Operators

Q1. Add two numbers a = 10 and b = 5.

In [1]:
# write your answer here
a = 10
b= 5
print(a+b)

15

Q2. Find the remainder when 17 is divided by 4.

In [2]:
# write your answer here
a = 17
b = 4
print(17/4)

4.25

Q3. Calculate 3 raised to the power 4.

In [3]:
# write your answer here
a = 3
b = 4

print(a**b)

81

## Assignment Operators

Q4. Assign 10 to x and add 5 to it using assignment operator.

In [4]:
# write your answer here
x = 10
x += 5
print(x)

15

Q5. Assign 20 to y and multiply it by 2 using assignment operator.

In [5]:
# write your answer here
y = 20
print(y*2)

40

Q6. Assign 15 to z and subtract 7 using assignment operator.

In [7]:
# write your answer here
z = 15
print(z-7)

8

## Comparison Operators

Q7. Check if 10 is greater than 5.

In [8]:
# write your answer here
print(10>5)

True

Q8. Check if 7 is equal to 9.

In [9]:
# write your answer here
print(7==9)

False

Q9. Check if 8 is not equal to 3.

In [12]:
# write your answer here
print(8!=3)

True

## Logical Operators

Q10. Check if 5 > 2 and 10 > 3.

In [14]:
# write your answer here
print(5>2 and 10>3)

True

Q11. Check if 5 > 10 or 3 < 7.

In [18]:
# write your answer here
if 5>10 or 3<7:
  print("TRUE")

TRUE

Q12. Use not operator on condition 10 > 5.

In [19]:
# write your answer here
print(not(10>5))

False

## Identity Operators

Q16. Check if a and b refer to the same object.
Let a = 10, b = 10.

In [20]:
# write your answer here
#Let
a = 10
b = 10
print(a and b)

10

Q18. Compare identity of two variables c and d where c = d = 5.

In [21]:
# write your answer here
c = d = 5
print(c and d)

5

## Membership Operators

Q19. Check if 3 is present in the list [1,2,3,4].

In [22]:
# write your answer here
print(3 in [1,2,3,4])

True

Q20. Check if 'a' is not present in the string 'python'.

In [25]:
# write your answer
print('a' not in 'python')

True

Q21. Check if 10 is in the tuple (5, 10, 15).

In [26]:
# write your answer here
print(10 in (10,5,15))

True