# Python Practice: Tuple and Set (Practice Only)

This notebook contains **practice questions only** on **Tuples** and **Sets**.

Instructions:
- Questions are written in **text cells**
- Write your solution in the **code cell below each question**
- Do NOT use any advanced concepts

##  Tuple Practice Questions

### Question 1
Create a tuple of 5 integers and print it.

In [2]:
# write your answer here
tup1=(1,2,3,4,5)
print(tup1)

(1, 2, 3, 4, 5)

### Question 2
Create a tuple with different data types (int, float, string, boolean) and print each element separately.

In [3]:
# write your answer here
tup1="irfan",24,4.2,True
print(tup1)

('irfan', 24, 4.2, True)

### Question 3
Find the length of a tuple containing names of 4 students.

In [4]:
# write your answer here
student="irfan","jaswant","rohit","sekhar"
print(len(student))

4

### Question 4
Access and print the last element of a tuple.

In [5]:
# write your answer here
student="irfan","jaswant","rohit","sekhar"
print(student[-1])

sekhar

### Question 5
Check whether an element exists in a tuple or not.

In [6]:
# write your answer here
student="irfan","jaswant","rohit","sekhar"
print("irfan" in student)

True

### Question 6
Convert a tuple into a list.

In [7]:
# write your answer here
student="irfan","jaswant","rohit","sekhar"
print(list(student))

['irfan', 'jaswant', 'rohit', 'sekhar']

### Question 7
Convert a list into a tuple.

In [8]:
# write your answer here
student=["irfan","jaswant","rohit","sekhar"]
print(tuple(student))

('irfan', 'jaswant', 'rohit', 'sekhar')

### Question 8
Create a tuple with repeated values and count how many times an element appears.

In [9]:
# write your answer here
student=("irfan","jaswant","rohit","sekhar","irfan")
print(student.count("irfan"))

2

### Question 9
Find the index of an element in a tuple.

In [13]:
# write your answer here
student=("irfan","jaswant","rohit","sekhar","jaswant2")
print(student.index("jaswant2"))

4

### Question 10
Demonstrate that tuples are immutable (cannot be changed).

In [15]:
# write your answer here
student=("irfan","jaswant","rohit","sekhar")
student[0]="jaswant" # this line thro error enchance to change

#yes tupple is immutable (cannot be changed)

TypeError: 'tuple' object does not support item assignment